In [1]:
import os 
import psycopg2
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
%matplotlib inline

In [2]:
##Load variables 
from dotenv import load_dotenv, find_dotenv
load_dotenv(find_dotenv('fire_var.env'))

True

In [3]:
# connect to postgres

try:
    conn = psycopg2.connect(database=os.environ.get("erdatabase"), user=os.environ.get("eruser"), 
                            password = os.environ.get("erpassword"), 
                            host=os.environ.get("erhost"), 
                            port=os.environ.get('port'))
    
except psycopg2.Error as e:
    print("I am unable to connect to the database")
    print(e)
    print(e.pgcode)
    print(e.pgerror)
    print(traceback.format_exc())

In [4]:
def pgquery(QUERY): 
    '''
    takes SQL query string, opens a cursor, and executes query in psql
    '''
    
    cur = conn.cursor()
    
    try:
        print("SQL QUERY = "+QUERY)
        cur.execute("SET statement_timeout = 0")
        cur.execute(QUERY)
        # Extract the column names and insert them in header
        col_names = []
        for elt in cur.description:
            col_names.append(elt[0])    
    
        D = cur.fetchall() #convert query result to list
        #pprint(D)
        #conn.close()
        # Create the dataframe, passing in the list of col_names extracted from the description
        return pd.DataFrame(D, columns=col_names)

    except Exception as e:
        print(e.pgerror)

In [6]:
## Since we only have one row in the incident table, there is not much data to pull from there.
## Let's try to pull everything about the responders.

##Pull data from the EC2 instance, extract inctime, station, and agency info
def getTimeDataset1(timedesc_dict):
    RESPONSE_TIME_QUERY='''
                        
                        SELECT  I.incident_id, R.responderunit_id,
                                T.timedesc_id, S.description as Station, A.description as Agency,
                                T.realtime
                        FROM incident as I
                        INNER JOIN inctimes as T
                                ON I.incident_id = T.incident_id
                        INNER JOIN responder as R
                                ON ( I.incident_id = R.incident_id AND T.responder_id = R.responder_id)
                        INNER JOIN responderunit as RU
                                ON R.responderunit_id = RU.responderunit_id
                        LEFT JOIN station as S
                                ON RU.station_id= S.station_id
                        LEFT JOIN agency as A
                                ON RU.agency_id = A.agency_id
                        WHERE T.timedesc_id IN ??TIMEDESC_IDS??
                                AND T.responder_id IS NOT NULL
                                AND I.incident_id = 1281359;
                        '''
    
    # add the timedesc_ids that we want to the query
    timedesc_ids = str(tuple(timedesc_dict.keys())).replace("'", "")
    RESPONSE_TIME_QUERY = RESPONSE_TIME_QUERY.replace("??TIMEDESC_IDS??", str(timedesc_ids))
    
    # execute the query: **this takes a pretty long time**
    df = pgquery(RESPONSE_TIME_QUERY)
    
   
    return df

In [7]:
d = {3: 'Dispatched', 5 : 'On Scene', 9: 'Depart Scene', 12: 'Clear'}
table = getTimeDataset1(d)

SQL QUERY =

                        SELECT  I.incident_id, R.responderunit_id,
                                T.timedesc_id, S.description as Station, A.description as Agency,
                                T.realtime
                        FROM incident as I
                        INNER JOIN inctimes as T
                                ON I.incident_id = T.incident_id
                        INNER JOIN responder as R
                                ON ( I.incident_id = R.incident_id AND T.responder_id = R.responder_id)
                        INNER JOIN responderunit as RU
                                ON R.responderunit_id = RU.responderunit_id
                        LEFT JOIN station as S
                                ON RU.station_id= S.station_id
                        LEFT JOIN agency as A
                                ON RU.agency_id = A.agency_id
                        WHERE T.timedesc_id IN (9, 3, 12, 5)
                                AND T.responder_id IS NOT NULL
                                AND I.incident_id = 1281359;

In [8]:
len(table)

233

In [9]:
table.head(233)

,incident_id,responderunit_id,timedesc_id,station,agency,realtime
0,1281359,89,3,INVESTIGATOR/INSPECTOR,None,2016-10-19 10:05:14
1,1281359,89,3,INVESTIGATOR/INSPECTOR,None,2016-10-20 06:28:34
2,1281359,89,5,INVESTIGATOR/INSPECTOR,None,2016-10-19 12:56:38
3,1281359,89,5,INVESTIGATOR/INSPECTOR,None,2016-10-20 06:28:34
4,1281359,89,12,INVESTIGATOR/INSPECTOR,None,2016-10-19 22:07:44
5,1281359,89,12,INVESTIGATOR/INSPECTOR,None,2016-10-20 19:39:08
6,1281359,93,3,INVESTIGATOR/INSPECTOR,None,2016-10-19 09:48:54
7,1281359,93,3,INVESTIGATOR/INSPECTOR,None,2016-10-20 06:27:43
8,1281359,93,5,INVESTIGATOR/INSPECTOR,None,2016-10-19 09:48:57
9,1281359,93,5,INVESTIGATOR/INSPECTOR,None,2016-10-20 06:27:43
10,1281359,93,12,INVESTIGATOR/INSPECTOR,None,2016-10-19 18:15:53
11,1281359,93,12,INVESTIGATOR/INSPECTOR,None,2016-10-20 16:55:02
12,1281359,95,3,None,GRESHAM,2016-10-20 06:31:09
13,1281359,95,3,None,GRESHAM,2016-10-21 08:49:13
14,1281359,95,5,None,GRESHAM,2016-10-20 07:16:06
15,1281359,95,5,None,GRESHAM,2016-10-21 08:49:13
16,1281359,95,12,None,GRESHAM,2016-10-20 16:02:29
17,1281359,96,3,None,GRESHAM,2016-10-20 06:31:09
18,1281359,96,5,None,GRESHAM,2016-10-20 07:16:06
19,1281359,96,12,None,GRESHAM,2016-10-20 16:02:29
20,1281359,101,3,PIO,None,2016-10-19 09:39:33
21,1281359,101,5,PIO,None,2016-10-19 09:56:32
22,1281359,102,3,PIO,None,2016-10-19 11:05:10
23,1281359,102,5,PIO,None,2016-10-19 11:05:10
24,1281359,103,3,PIO,None,2016-10-19 11:05:14
25,1281359,103,5,PIO,None,2016-10-19 11:05:14
26,1281359,114,3,01,None,2016-10-19 10:17:11
27,1281359,114,5,01,None,2016-10-19 10:21:08
28,1281359,114,12,01,None,2016-10-19 12:06:03
29,1281359,116,3,01,None,2016-10-19 10:19:31
...,...,...,...,...,...,...
203,1281359,1597,3,24,None,2016-10-20 16:02:21
204,1281359,1597,5,24,None,2016-10-20 16:04:12
205,1281359,1597,12,24,None,2016-10-20 16:08:52
206,1281359,1602,3,05,None,2016-10-19 09:39:33
207,1281359,1602,5,05,None,2016-10-19 09:52:47
208,1281359,1602,12,05,None,2016-10-19 21:56:28
209,1281359,45,3,24,None,2016-10-19 09:39:33
210,1281359,45,5,24,None,2016-10-19 09:43:49
211,1281359,45,12,24,None,2016-10-19 10:14:54
212,1281359,51,3,26,None,2016-10-19 10:12:45
213,1281359,51,5,26,None,2016-10-19 10:21:01
214,1281359,51,12,26,None,2016-10-19 14:42:58
215,1281359,52,3,03,None,2016-10-19 09:08:12
216,1281359,52,3,03,None,2016-10-21 10:14:37
217,1281359,52,5,03,None,2016-10-19 09:12:00
218,1281359,52,5,03,None,2016-10-21 10:19:50
219,1281359,52,12,03,None,2016-10-19 19:30:46
220,1281359,52,12,03,None,2016-10-21 14:55:48
221,1281359,56,3,04,None,2016-10-19 09:39:33
222,1281359,56,5,04,None,2016-10-19 09:43:43
223,1281359,56,12,04,None,2016-10-19 12:19:27
224,1281359,62,3,05,None,2016-10-19 09:44:11
225,1281359,62,5,05,None,2016-10-19 09:55:56
226,1281359,62,12,05,None,2016-10-19 19:58:53
227,1281359,64,3,06,None,2016-10-19 09:08:12
228,1281359,64,5,06,None,2016-10-19 09:15:44
229,1281359,64,12,06,None,2016-10-19 15:16:36
230,1281359,79,3,09,None,2016-10-19 10:19:39
231,1281359,79,5,09,None,2016-10-19 10:55:52
232,1281359,79,12,09,None,2016-10-19 15:17:29

## It seems the records expand more than one day, so let's pull the data just for '2016-10-19'

In [18]:


##Pull data from the EC2 instance, extract inctime, station, and agency info

## on date '2016-10-19'

def getTimeDataset2(timedesc_dict):
    RESPONSE_TIME_QUERY='''
                        
                        SELECT  R.responderunit_id,
                                T.timedesc_id, S.description as Station, A.description as Agency,
                                RU.description as Responder,
                                T.realtime
                        FROM incident as I
                        INNER JOIN inctimes as T
                                ON I.incident_id = T.incident_id
                        INNER JOIN responder as R
                                ON ( I.incident_id = R.incident_id AND T.responder_id = R.responder_id)
                        INNER JOIN responderunit as RU
                                ON R.responderunit_id = RU.responderunit_id
                        LEFT JOIN station as S
                                ON RU.station_id= S.station_id
                        LEFT JOIN agency as A
                                ON RU.agency_id = A.agency_id
                        WHERE T.timedesc_id IN ??TIMEDESC_IDS??
                                AND T.responder_id IS NOT NULL
                                AND I.incident_id = 1281359
                                AND CAST(T.realtime AS DATE) = date '2016-10-19'
                        ORDER BY T.realtime
                                ASC;
                        '''
    
    # add the timedesc_ids that we want to the query
    timedesc_ids = str(tuple(timedesc_dict.keys())).replace("'", "")
    RESPONSE_TIME_QUERY = RESPONSE_TIME_QUERY.replace("??TIMEDESC_IDS??", str(timedesc_ids))
    
    # execute the query: **this takes a pretty long time**
    df = pgquery(RESPONSE_TIME_QUERY)
    
   
    return df

In [71]:
d = {3: 'Dispatched', 5 : 'On Scene', 9: 'Depart Scene', 12: 'Clear'}
table2 = getTimeDataset2(d)

SQL QUERY =

                        SELECT  R.responderunit_id,
                                T.timedesc_id, S.description as Station, A.description as Agency,
                                RU.description as Responder,
                                T.realtime
                        FROM incident as I
                        INNER JOIN inctimes as T
                                ON I.incident_id = T.incident_id
                        INNER JOIN responder as R
                                ON ( I.incident_id = R.incident_id AND T.responder_id = R.responder_id)
                        INNER JOIN responderunit as RU
                                ON R.responderunit_id = RU.responderunit_id
                        LEFT JOIN station as S
                                ON RU.station_id= S.station_id
                        LEFT JOIN agency as A
                                ON RU.agency_id = A.agency_id
                        WHERE T.timedesc_id IN (9, 3, 12, 5)
                                AND T.responder_id IS NOT NULL
                                AND I.incident_id = 1281359
                                AND CAST(T.realtime AS DATE) = date '2016-10-19'
                        ORDER BY T.realtime
                                ASC;

In [72]:
len(table2)

193

In [73]:
table2.head(193)

,responderunit_id,timedesc_id,station,agency,responder,realtime
0,122,3,03,None,T03,2016-10-19 09:08:12
1,15,3,C04,None,C04,2016-10-19 09:08:12
2,35,3,15,None,E15,2016-10-19 09:08:12
3,52,3,03,None,E03,2016-10-19 09:08:12
4,64,3,06,None,E06,2016-10-19 09:08:12
5,122,5,03,None,T03,2016-10-19 09:11:46
6,52,5,03,None,E03,2016-10-19 09:12:00
7,35,5,15,None,E15,2016-10-19 09:13:22
8,64,5,06,None,E06,2016-10-19 09:15:44
9,7,3,C01,None,C01,2016-10-19 09:18:00
10,15,5,C04,None,C04,2016-10-19 09:20:27
11,7,5,C01,None,C01,2016-10-19 09:20:51
12,56,3,04,None,E04,2016-10-19 09:39:33
13,1602,3,05,None,RHB5,2016-10-19 09:39:33
14,123,3,04,None,T04,2016-10-19 09:39:33
15,101,3,PIO,None,PIO351,2016-10-19 09:39:33
16,12,3,C02,None,C02,2016-10-19 09:39:33
17,33,3,13,None,E13,2016-10-19 09:39:33
18,45,3,24,None,E24,2016-10-19 09:39:33
19,9,3,C103,None,C103,2016-10-19 09:39:33
20,209,3,None,None,M309,2016-10-19 09:40:30
21,238,3,None,None,M338,2016-10-19 09:41:01
22,210,3,None,None,M310,2016-10-19 09:41:01
23,213,3,None,None,M313,2016-10-19 09:41:01
24,233,3,None,None,M333,2016-10-19 09:41:01
25,13,3,C03,None,C03,2016-10-19 09:41:27
26,304,3,21,None,E21,2016-10-19 09:41:27
27,404,3,16,None,E16,2016-10-19 09:41:27
28,506,3,27,None,E27,2016-10-19 09:41:27
29,550,3,10,None,T10,2016-10-19 09:41:27
...,...,...,...,...,...,...
163,64,12,06,None,E06,2016-10-19 15:16:36
164,79,12,09,None,E09,2016-10-19 15:17:29
165,404,12,16,None,E16,2016-10-19 15:19:19
166,140,3,None,None,TIPF,2016-10-19 15:33:34
167,148,3,30,None,E30R,2016-10-19 15:41:09
168,148,5,30,None,E30R,2016-10-19 16:00:00
169,33,12,13,None,E13,2016-10-19 16:20:31
170,428,12,12,None,E12,2016-10-19 17:31:50
171,12,12,C02,None,C02,2016-10-19 17:36:52
172,38,12,19,None,E19,2016-10-19 17:49:46
173,556,12,HC458,None,HC458,2016-10-19 17:53:47
174,30,5,01,None,E01,2016-10-19 18:01:03
175,30,3,01,None,E01,2016-10-19 18:01:03
176,30,12,01,None,E01,2016-10-19 18:01:07
177,425,12,C500,None,C500,2016-10-19 18:02:06
178,117,12,13,None,T13,2016-10-19 18:12:00
179,93,12,INVESTIGATOR/INSPECTOR,None,I376,2016-10-19 18:15:53
180,8,12,C102,None,C102,2016-10-19 18:48:42
181,531,12,01,None,USAR1,2016-10-19 18:49:55
182,388,12,INVESTIGATOR/INSPECTOR,None,I377,2016-10-19 19:04:55
183,1591,12,17,None,E17R,2016-10-19 19:29:53
184,52,12,03,None,E03,2016-10-19 19:30:46
185,148,12,30,None,E30R,2016-10-19 19:40:51
186,9,12,C103,None,C103,2016-10-19 19:41:16
187,62,12,05,None,E05,2016-10-19 19:58:53
188,13,12,C03,None,C03,2016-10-19 21:04:28
189,15,12,C04,None,C04,2016-10-19 21:05:13
190,1602,12,05,None,RHB5,2016-10-19 21:56:28
191,336,12,INVESTIGATOR/INSPECTOR,None,I373,2016-10-19 22:02:54
192,89,12,INVESTIGATOR/INSPECTOR,None,I370,2016-10-19 22:07:44

## Discussion

*I pulled all the "description" from the "station", "agency" , and "responderunit" tables, but they are still bunch of codes which are probably alein to public. I searched the database, and did not find anything relevant that is descriptive enough to show a story to public. Maybe Mark can help on this part.* 

*At this point, I will show how do we calculate the response time and onscene time. According to Mark's note: 3 to 5 is response time and 5 to 12 is on scene time.*

In [74]:
###Filter out the responders from other cities
###There are still some non-integer station description codes
table_s = table2.copy()
#table_s.dropna(subset=['station'],inplace=True)
stationTable = table_s.pivot_table(index=['responderunit_id'],\
                columns='timedesc_id', values='realtime', aggfunc='first')
stationTable.rename(columns=d, inplace=True)

## sort by dispatch time
#stationTable.sort_values('Dispatched', axis=0, ascending=True, inplace=True)
print(len(stationTable))
stationTable

63

timedesc_id,Dispatched,On Scene,Depart Scene,Clear
responderunit_id,,,,
7,2016-10-19 09:18:00,2016-10-19 09:20:51,NaT,2016-10-19 15:06:28
8,2016-10-19 09:41:27,2016-10-19 09:52:31,NaT,2016-10-19 18:48:42
9,2016-10-19 09:39:33,2016-10-19 09:56:52,NaT,2016-10-19 19:41:16
12,2016-10-19 09:39:33,2016-10-19 09:59:58,NaT,2016-10-19 17:36:52
13,2016-10-19 09:41:27,2016-10-19 10:00:30,NaT,2016-10-19 21:04:28
15,2016-10-19 09:08:12,2016-10-19 09:20:27,NaT,2016-10-19 21:05:13
30,2016-10-19 18:01:03,2016-10-19 18:01:03,NaT,2016-10-19 18:01:07
33,2016-10-19 09:39:33,2016-10-19 09:47:57,NaT,2016-10-19 16:20:31
35,2016-10-19 09:08:12,2016-10-19 09:13:22,NaT,2016-10-19 13:12:57
38,2016-10-19 10:12:45,2016-10-19 10:20:02,NaT,2016-10-19 17:49:46
45,2016-10-19 09:39:33,2016-10-19 09:43:49,NaT,2016-10-19 10:14:54
51,2016-10-19 10:12:45,2016-10-19 10:21:01,NaT,2016-10-19 14:42:58
52,2016-10-19 09:08:12,2016-10-19 09:12:00,NaT,2016-10-19 19:30:46
56,2016-10-19 09:39:33,2016-10-19 09:43:43,NaT,2016-10-19 12:19:27
62,2016-10-19 09:44:11,2016-10-19 09:55:56,NaT,2016-10-19 19:58:53
64,2016-10-19 09:08:12,2016-10-19 09:15:44,NaT,2016-10-19 15:16:36
79,2016-10-19 10:19:39,2016-10-19 10:55:52,NaT,2016-10-19 15:17:29
89,2016-10-19 10:05:14,2016-10-19 12:56:38,NaT,2016-10-19 22:07:44
93,2016-10-19 09:48:54,2016-10-19 09:48:57,NaT,2016-10-19 18:15:53
101,2016-10-19 09:39:33,2016-10-19 09:56:32,NaT,NaT
102,2016-10-19 11:05:10,2016-10-19 11:05:10,NaT,NaT
103,2016-10-19 11:05:14,2016-10-19 11:05:14,NaT,NaT
114,2016-10-19 10:17:11,2016-10-19 10:21:08,NaT,2016-10-19 12:06:03
116,2016-10-19 10:19:31,2016-10-19 10:23:36,NaT,2016-10-19 12:13:24
117,2016-10-19 09:41:30,2016-10-19 09:48:53,NaT,2016-10-19 09:41:53
118,2016-10-19 10:28:41,2016-10-19 10:28:41,NaT,NaT
122,2016-10-19 09:08:12,2016-10-19 09:11:46,NaT,NaT
123,2016-10-19 09:39:33,2016-10-19 09:47:25,NaT,2016-10-19 12:10:13
127,2016-10-19 10:12:45,2016-10-19 10:19:31,NaT,2016-10-19 15:15:56
140,2016-10-19 15:33:34,NaT,NaT,NaT
...,...,...,...,...
205,2016-10-19 09:42:10,2016-10-19 09:56:02,NaT,2016-10-19 12:05:04
209,2016-10-19 09:40:30,2016-10-19 09:42:29,2016-10-19 09:56:33,2016-10-19 10:22:04
210,2016-10-19 09:41:01,2016-10-19 09:51:46,2016-10-19 10:14:58,2016-10-19 10:55:27
213,2016-10-19 09:41:01,2016-10-19 09:47:41,2016-10-19 10:03:54,2016-10-19 10:33:17
217,2016-10-19 09:42:10,2016-10-19 10:01:33,NaT,2016-10-19 10:42:31
228,2016-10-19 09:42:10,2016-10-19 10:01:53,NaT,2016-10-19 11:57:42
233,2016-10-19 09:41:01,2016-10-19 09:52:13,NaT,2016-10-19 10:30:52
236,2016-10-19 09:42:10,2016-10-19 10:03:26,NaT,NaT
238,2016-10-19 09:41:01,2016-10-19 09:48:27,NaT,2016-10-19 10:40:49
304,2016-10-19 09:41:27,2016-10-19 12:55:53,NaT,2016-10-19 14:41:17
336,2016-10-19 10:38:14,2016-10-19 10:38:14,NaT,2016-10-19 22:02:54
388,2016-10-19 10:28:32,2016-10-19 10:28:32,NaT,2016-10-19 19:04:55
404,2016-10-19 09:41:27,2016-10-19 09:49:15,NaT,2016-10-19 15:19:19
425,2016-10-19 10:23:29,2016-10-19 10:23:34,NaT,2016-10-19 18:02:06
428,2016-10-19 13:05:45,2016-10-19 13:38:50,NaT,2016-10-19 17:31:50
464,2016-10-19 10:03:21,2016-10-19 10:03:21,NaT,2016-10-19 12:58:04
478,2016-10-19 10:12:45,2016-10-19 10:25:54,NaT,2016-10-19 12:36:32
506,2016-10-19 09:41:27,2016-10-19 09:53:25,NaT,2016-10-19 14:43:46
508,2016-10-19 09:57:28,2016-10-19 10:40:35,NaT,2016-10-19 12:10:40
519,2016-10-19 10:16:46,2016-10-19 11:13:47,NaT,NaT
531,2016-10-19 10:17:18,2016-10-19 10:21:14,NaT,2016-10-19 18:49:55
547,2016-10-19 10:12:45,2016-10-19 10:21:31,NaT,2016-10-19 12:43:23
550,2016-10-19 09:41:27,2016-10-19 09:57:05,NaT,2016-10-19 14:23:45
556,2016-10-19 09:49:11,2016-10-19 10:05:06,NaT,2016-10-19 17:53:47
1584,2016-10-19 09:47:09,2016-10-19 10:33:21,NaT,2016-10-19 12:06:26
1585,2016-10-19 10:15:11,2016-10-19 10:22:22,NaT,2016-10-19 12:02:14
1591,2016-10-19 14:52:34,2016-10-19 15:15:35,NaT,2016-10-19 19:29:53
1594,2016-10-19 14:54:29,2016-10-19 15:11:50,NaT,NaT
1596,2016-10-19 10:23:27,2016-10-19 10:38:10,NaT,2016-10-19 12:15:42
1602,2016-10-19 09:39:33,2016-10-19 09:52:47,NaT,2016-10-19 21:56:28

In [75]:
##Calculate "Response_Time" and "OnScene_Time"
stationTable["Response_Time"] = stationTable['On Scene'].sub(stationTable['Dispatched'], axis = 0)
stationTable["OnScene_Time"] = stationTable['Clear'].sub(stationTable['On Scene'], axis = 0)

stationTable["Response_Time"].astype('timedelta64[m]')
stationTable["OnScene_Time"].astype('timedelta64[m]')
stationTable.head(20)

timedesc_id,Dispatched,On Scene,Depart Scene,Clear,Response_Time,OnScene_Time
responderunit_id,,,,,,
7,2016-10-19 09:18:00,2016-10-19 09:20:51,NaT,2016-10-19 15:06:28,00:02:51,05:45:37
8,2016-10-19 09:41:27,2016-10-19 09:52:31,NaT,2016-10-19 18:48:42,00:11:04,08:56:11
9,2016-10-19 09:39:33,2016-10-19 09:56:52,NaT,2016-10-19 19:41:16,00:17:19,09:44:24
12,2016-10-19 09:39:33,2016-10-19 09:59:58,NaT,2016-10-19 17:36:52,00:20:25,07:36:54
13,2016-10-19 09:41:27,2016-10-19 10:00:30,NaT,2016-10-19 21:04:28,00:19:03,11:03:58
15,2016-10-19 09:08:12,2016-10-19 09:20:27,NaT,2016-10-19 21:05:13,00:12:15,11:44:46
30,2016-10-19 18:01:03,2016-10-19 18:01:03,NaT,2016-10-19 18:01:07,00:00:00,00:00:04
33,2016-10-19 09:39:33,2016-10-19 09:47:57,NaT,2016-10-19 16:20:31,00:08:24,06:32:34
35,2016-10-19 09:08:12,2016-10-19 09:13:22,NaT,2016-10-19 13:12:57,00:05:10,03:59:35
38,2016-10-19 10:12:45,2016-10-19 10:20:02,NaT,2016-10-19 17:49:46,00:07:17,07:29:44
45,2016-10-19 09:39:33,2016-10-19 09:43:49,NaT,2016-10-19 10:14:54,00:04:16,00:31:05
51,2016-10-19 10:12:45,2016-10-19 10:21:01,NaT,2016-10-19 14:42:58,00:08:16,04:21:57
52,2016-10-19 09:08:12,2016-10-19 09:12:00,NaT,2016-10-19 19:30:46,00:03:48,10:18:46
56,2016-10-19 09:39:33,2016-10-19 09:43:43,NaT,2016-10-19 12:19:27,00:04:10,02:35:44
62,2016-10-19 09:44:11,2016-10-19 09:55:56,NaT,2016-10-19 19:58:53,00:11:45,10:02:57
64,2016-10-19 09:08:12,2016-10-19 09:15:44,NaT,2016-10-19 15:16:36,00:07:32,06:00:52
79,2016-10-19 10:19:39,2016-10-19 10:55:52,NaT,2016-10-19 15:17:29,00:36:13,04:21:37
89,2016-10-19 10:05:14,2016-10-19 12:56:38,NaT,2016-10-19 22:07:44,02:51:24,09:11:06
93,2016-10-19 09:48:54,2016-10-19 09:48:57,NaT,2016-10-19 18:15:53,00:00:03,08:26:56
101,2016-10-19 09:39:33,2016-10-19 09:56:32,NaT,NaT,00:16:59,NaT

In [76]:
Mean_response_time = stationTable['Response_Time'].mean()
Mean_response_time

Timedelta('0 days 00:17:22.322580')

In [77]:
Median_response_time = stationTable['Response_Time'].median()
Median_response_time

Timedelta('0 days 00:08:35')

In [78]:
Mean_onscene_time = stationTable['OnScene_Time'].mean()
Mean_onscene_time

Timedelta('0 days 04:39:36.283018')

In [79]:
Median_onscene_time = stationTable['OnScene_Time'].median()
Median_onscene_time

Timedelta('0 days 03:59:35')

## Discussion
*It turns out this incident is not a good example to show how a tipical incident's response time and onscene time would be, because it has investigators and other weird station codes. But it is a good candidate to show the full spectrum of responders.*

*I have done an analysis on the other incidents happened in the same day to show a tipical incident's response time and onscene time, which is showed below.*

In [57]:
## Check out metrics for other incidents happened in the very day
def getTimeDataset3(timedesc_dict):
    RESPONSE_TIME_QUERY='''
                        
                        SELECT  I.incident_id,R.responderunit_id,
                                T.timedesc_id, S.description as Station, A.description as Agency,
                                RU.description as Responder,
                                T.realtime
                        FROM incident as I
                        INNER JOIN inctimes as T
                                ON I.incident_id = T.incident_id
                        INNER JOIN responder as R
                                ON ( I.incident_id = R.incident_id AND T.responder_id = R.responder_id)
                        INNER JOIN responderunit as RU
                                ON R.responderunit_id = RU.responderunit_id
                        LEFT JOIN station as S
                                ON RU.station_id= S.station_id
                        LEFT JOIN agency as A
                                ON RU.agency_id = A.agency_id
                        WHERE T.timedesc_id IN ??TIMEDESC_IDS??
                                AND T.responder_id IS NOT NULL
                                AND I.incident_id != 1281359
                                AND CAST(T.realtime AS DATE) = date '2016-10-19'
                        ORDER BY I.incident_id
                                ASC;
                        '''
    
    # add the timedesc_ids that we want to the query
    timedesc_ids = str(tuple(timedesc_dict.keys())).replace("'", "")
    RESPONSE_TIME_QUERY = RESPONSE_TIME_QUERY.replace("??TIMEDESC_IDS??", str(timedesc_ids))
    
    # execute the query: **this takes a pretty long time**
    df = pgquery(RESPONSE_TIME_QUERY)
    
   
    return df

In [80]:
table3 = getTimeDataset3(d)

SQL QUERY =

                        SELECT  I.incident_id,R.responderunit_id,
                                T.timedesc_id, S.description as Station, A.description as Agency,
                                RU.description as Responder,
                                T.realtime
                        FROM incident as I
                        INNER JOIN inctimes as T
                                ON I.incident_id = T.incident_id
                        INNER JOIN responder as R
                                ON ( I.incident_id = R.incident_id AND T.responder_id = R.responder_id)
                        INNER JOIN responderunit as RU
                                ON R.responderunit_id = RU.responderunit_id
                        LEFT JOIN station as S
                                ON RU.station_id= S.station_id
                        LEFT JOIN agency as A
                                ON RU.agency_id = A.agency_id
                        WHERE T.timedesc_id IN (9, 3, 12, 5)
                                AND T.responder_id IS NOT NULL
                                AND I.incident_id != 1281359
                                AND CAST(T.realtime AS DATE) = date '2016-10-19'
                        ORDER BY I.incident_id
                                ASC;

In [81]:
len(table3)

1623

In [82]:
table3.head(50)

,incident_id,responderunit_id,timedesc_id,station,agency,responder,realtime
0,1281269,242,12,None,None,M342,2016-10-19 00:26:08
1,1281272,224,12,None,None,M324,2016-10-19 00:29:25
2,1281274,221,9,None,None,M321,2016-10-19 00:07:01
3,1281274,221,12,None,None,M321,2016-10-19 00:43:35
4,1281276,42,12,22,None,E22,2016-10-19 00:30:10
5,1281277,227,9,None,None,M327,2016-10-19 00:03:29
6,1281277,227,12,None,None,M327,2016-10-19 00:42:56
7,1281278,61,3,31,None,E31,2016-10-19 00:03:22
8,1281278,234,3,None,None,M334,2016-10-19 00:03:22
9,1281278,234,5,None,None,M334,2016-10-19 00:06:44
10,1281278,234,9,None,None,M334,2016-10-19 00:21:58
11,1281278,61,12,31,None,E31,2016-10-19 00:08:46
12,1281278,234,12,None,None,M334,2016-10-19 01:00:11
13,1281279,222,9,None,None,M322,2016-10-19 00:22:31
14,1281279,33,12,13,None,E13,2016-10-19 00:07:57
15,1281279,222,12,None,None,M322,2016-10-19 01:05:26
16,1281280,114,3,01,None,S01,2016-10-19 00:00:43
17,1281280,243,3,None,None,M343,2016-10-19 00:00:43
18,1281280,114,5,01,None,S01,2016-10-19 00:06:22
19,1281280,243,5,None,None,M343,2016-10-19 00:04:53
20,1281280,243,9,None,None,M343,2016-10-19 00:23:09
21,1281280,114,12,01,None,S01,2016-10-19 00:11:41
22,1281280,243,12,None,None,M343,2016-10-19 00:57:09
23,1281281,37,3,18,None,E18,2016-10-19 00:18:02
24,1281281,219,3,None,None,M319,2016-10-19 00:18:02
25,1281281,219,5,None,None,M319,2016-10-19 00:20:43
26,1281281,219,9,None,None,M319,2016-10-19 00:27:22
27,1281281,37,12,18,None,E18,2016-10-19 00:21:36
28,1281281,219,12,None,None,M319,2016-10-19 01:10:31
29,1281282,223,3,None,None,M323,2016-10-19 00:26:30
30,1281282,428,3,12,None,E12,2016-10-19 00:26:30
31,1281282,223,5,None,None,M323,2016-10-19 00:32:21
32,1281282,428,5,12,None,E12,2016-10-19 00:33:37
33,1281282,223,9,None,None,M323,2016-10-19 01:01:55
34,1281282,223,12,None,None,M323,2016-10-19 01:36:41
35,1281282,428,12,12,None,E12,2016-10-19 00:34:17
36,1281283,1597,3,24,None,R24,2016-10-19 00:29:57
37,1281283,1597,5,24,None,R24,2016-10-19 00:39:09
38,1281283,1597,12,24,None,R24,2016-10-19 00:43:07
39,1281284,123,3,04,None,T04,2016-10-19 00:46:13
40,1281284,224,3,None,None,M324,2016-10-19 00:46:13
41,1281284,224,5,None,None,M324,2016-10-19 00:51:04
42,1281284,224,9,None,None,M324,2016-10-19 00:57:46
43,1281284,123,12,04,None,T04,2016-10-19 00:51:20
44,1281284,224,12,None,None,M324,2016-10-19 01:34:20
45,1281285,30,3,01,None,E01,2016-10-19 00:46:45
46,1281285,117,3,13,None,T13,2016-10-19 00:46:45
47,1281285,117,5,13,None,T13,2016-10-19 00:52:45
48,1281285,30,12,01,None,E01,2016-10-19 00:50:12
49,1281285,117,12,13,None,T13,2016-10-19 01:27:53

In [83]:
#table3.dropna(subset=['station'],inplace=True)
table3 = table3.pivot_table(index=['incident_id','responderunit_id'],\
                columns='timedesc_id', values='realtime', aggfunc='first')
table3.rename(columns=d, inplace=True)

## sort by dispatch time
table3.sort_values('Dispatched', axis=0, ascending=True, inplace=True)
print(len(table3))
table3

541

timedesc_id                           Dispatched            On Scene  \
incident_id responderunit_id
1281280     114              2016-10-19 00:00:43 2016-10-19 00:06:22
            243              2016-10-19 00:00:43 2016-10-19 00:04:53
1281278     61               2016-10-19 00:03:22                 NaT
            234              2016-10-19 00:03:22 2016-10-19 00:06:44
1281281     37               2016-10-19 00:18:02                 NaT
            219              2016-10-19 00:18:02 2016-10-19 00:20:43
1281282     223              2016-10-19 00:26:30 2016-10-19 00:32:21
            428              2016-10-19 00:26:30 2016-10-19 00:33:37
1281283     1597             2016-10-19 00:29:57 2016-10-19 00:39:09
1281286     33               2016-10-19 00:43:10 2016-10-19 00:50:36
1281284     123              2016-10-19 00:46:13                 NaT
            224              2016-10-19 00:46:13 2016-10-19 00:51:04
1281285     30               2016-10-19 00:46:45                 NaT
            117              2016-10-19 00:46:45 2016-10-19 00:52:45
1281290     478              2016-10-19 00:48:36 2016-10-19 00:56:08
1281287     234              2016-10-19 01:01:12 2016-10-19 01:05:01
            60               2016-10-19 01:01:12                 NaT
1281288     59               2016-10-19 01:07:34 2016-10-19 01:14:28
            240              2016-10-19 01:07:34 2016-10-19 01:13:50
1281289     61               2016-10-19 01:13:06                 NaT
            242              2016-10-19 01:13:06 2016-10-19 01:18:27
1281291     60               2016-10-19 01:40:33 2016-10-19 01:47:07
            223              2016-10-19 01:40:33 2016-10-19 01:46:51
1281292     114              2016-10-19 01:55:21 2016-10-19 02:00:15
            215              2016-10-19 01:55:21 2016-10-19 02:01:12
1281293     114              2016-10-19 02:34:58 2016-10-19 02:38:53
            221              2016-10-19 02:34:58 2016-10-19 02:42:04
1281294     42               2016-10-19 02:47:12 2016-10-19 02:52:52
            225              2016-10-19 02:47:12 2016-10-19 02:53:14
1281295     62               2016-10-19 02:48:24 2016-10-19 02:58:54
...                                          ...                 ...
1281532     226              2016-10-19 22:58:20                 NaT
1281533     123              2016-10-19 23:03:35 2016-10-19 23:09:05
            242              2016-10-19 23:03:35 2016-10-19 23:07:23
1281532     98               2016-10-19 23:03:40                 NaT
            232              2016-10-19 23:04:03 2016-10-19 23:09:52
1281528     224              2016-10-19 23:05:49 2016-10-19 23:12:43
1281534     52               2016-10-19 23:07:13 2016-10-19 23:12:36
1281535     124              2016-10-19 23:18:04 2016-10-19 23:24:52
            220              2016-10-19 23:18:04 2016-10-19 23:25:03
1281536     40               2016-10-19 23:24:38 2016-10-19 23:28:55
            230              2016-10-19 23:24:38 2016-10-19 23:32:09
1281537     229              2016-10-19 23:32:25 2016-10-19 23:40:45
            550              2016-10-19 23:32:25                 NaT
1281540     58               2016-10-19 23:36:06 2016-10-19 23:41:24
            234              2016-10-19 23:36:06 2016-10-19 23:41:28
1281538     79               2016-10-19 23:39:17 2016-10-19 23:45:20
            218              2016-10-19 23:39:17 2016-10-19 23:46:07
1281539     13               2016-10-19 23:45:42 2016-10-19 23:51:52
            60               2016-10-19 23:45:42 2016-10-19 23:49:47
            124              2016-10-19 23:45:42 2016-10-19 23:50:06
            227              2016-10-19 23:45:42 2016-10-19 23:49:38
            110              2016-10-19 23:47:10 2016-10-19 23:49:56
            38               2016-10-19 23:51:59                 NaT
1281269     242                              NaT                 NaT
1281272     224                              NaT                 NaT
1281274     221                              NaT                 NaT
1281276     42                               NaT                 NaT
1281277     227                              NaT                 NaT
1281279     33                               NaT                 NaT
            222                              NaT                 NaT

timedesc_id                         Depart Scene               Clear
incident_id responderunit_id
1281280     114                              NaT 2016-10-19 00:11:41
            243              2016-10-19 00:23:09 2016-10-19 00:57:09
1281278     61                               NaT 2016-10-19 00:08:46
            234              2016-10-19 00:21:58 2016-10-19 01:00:11
1281281     37                               NaT 2016-10-19 00:21:36
            219              2016-10-19 00:27:22 2016-10-19 01:10:31
1281282     223              2016-10-19 01:01:55 2016-10-19 01:36:41
            428                              NaT 2016-10-19 00:34:17
1281283     1597                             NaT 2016-10-19 00:43:07
1281286     33                               NaT 2016-10-19 00:55:49
1281284     123                              NaT 2016-10-19 00:51:20
            224              2016-10-19 00:57:46 2016-10-19 01:34:20
1281285     30                               NaT 2016-10-19 00:50:12
            117                              NaT 2016-10-19 01:27:53
1281290     478                              NaT 2016-10-19 01:23:43
1281287     234                              NaT 2016-10-19 01:15:34
            60                               NaT 2016-10-19 01:09:47
1281288     59                               NaT 2016-10-19 01:16:35
            240              2016-10-19 01:33:40 2016-10-19 02:17:18
1281289     61                               NaT 2016-10-19 01:18:53
            242              2016-10-19 01:33:40 2016-10-19 02:03:21
1281291     60                               NaT 2016-10-19 01:53:26
            223              2016-10-19 02:24:47 2016-10-19 03:08:25
1281292     114                              NaT 2016-10-19 02:02:16
            215              2016-10-19 02:07:48 2016-10-19 02:36:41
1281293     114                              NaT 2016-10-19 02:45:30
            221              2016-10-19 03:03:44 2016-10-19 03:36:05
1281294     42                               NaT 2016-10-19 02:59:22
            225                              NaT 2016-10-19 02:55:48
1281295     62                               NaT 2016-10-19 03:05:23
...                                          ...                 ...
1281532     226                              NaT 2016-10-19 23:03:51
1281533     123                              NaT 2016-10-19 23:14:28
            242              2016-10-19 23:20:35 2016-10-19 23:54:41
1281532     98                               NaT 2016-10-19 23:04:19
            232              2016-10-19 23:18:54 2016-10-19 23:53:20
1281528     224              2016-10-19 23:24:48                 NaT
1281534     52                               NaT 2016-10-19 23:24:06
1281535     124                              NaT 2016-10-19 23:27:38
            220                              NaT 2016-10-19 23:36:23
1281536     40                               NaT 2016-10-19 23:37:32
            230              2016-10-19 23:44:42                 NaT
1281537     229              2016-10-19 23:58:27                 NaT
            550                              NaT 2016-10-19 23:44:41
1281540     58                               NaT                 NaT
            234              2016-10-19 23:56:22                 NaT
1281538     79                               NaT 2016-10-19 23:52:16
            218              2016-10-19 23:57:25                 NaT
1281539     13                               NaT                 NaT
            60                               NaT                 NaT
            124                              NaT                 NaT
            227                              NaT                 NaT
            110                              NaT                 NaT
            38                               NaT                 NaT
1281269     242                              NaT 2016-10-19 00:26:08
1281272     224                              NaT 2016-10-19 00:29:25
1281274     221              2016-10-19 00:07:01 2016-10-19 00:43:35
1281276     42                               NaT 2016-10-19 00:30:10
1281277     227              2016-10-19 00:03:29 2016-10-19 00:42:56
1281279     33                               NaT 2016-10-19 00:07:57
            222              2016-10-19 00:22:31 2016-10-19 01:05:26

[541 rows x 4 columns]

In [84]:
##Calculate "Response_Time" and "OnScene_Time"
table3["Response_Time"] = table3['On Scene'].sub(table3['Dispatched'], axis = 0)
table3["OnScene_Time"] = table3['Clear'].sub(table3['On Scene'], axis = 0)

table3["Response_Time"].astype('timedelta64[m]')
table3["OnScene_Time"].astype('timedelta64[m]')
table3.head(20)

timedesc_id                           Dispatched            On Scene  \
incident_id responderunit_id
1281280     114              2016-10-19 00:00:43 2016-10-19 00:06:22
            243              2016-10-19 00:00:43 2016-10-19 00:04:53
1281278     61               2016-10-19 00:03:22                 NaT
            234              2016-10-19 00:03:22 2016-10-19 00:06:44
1281281     37               2016-10-19 00:18:02                 NaT
            219              2016-10-19 00:18:02 2016-10-19 00:20:43
1281282     223              2016-10-19 00:26:30 2016-10-19 00:32:21
            428              2016-10-19 00:26:30 2016-10-19 00:33:37
1281283     1597             2016-10-19 00:29:57 2016-10-19 00:39:09
1281286     33               2016-10-19 00:43:10 2016-10-19 00:50:36
1281284     123              2016-10-19 00:46:13                 NaT
            224              2016-10-19 00:46:13 2016-10-19 00:51:04
1281285     30               2016-10-19 00:46:45                 NaT
            117              2016-10-19 00:46:45 2016-10-19 00:52:45
1281290     478              2016-10-19 00:48:36 2016-10-19 00:56:08
1281287     234              2016-10-19 01:01:12 2016-10-19 01:05:01
            60               2016-10-19 01:01:12                 NaT
1281288     59               2016-10-19 01:07:34 2016-10-19 01:14:28
            240              2016-10-19 01:07:34 2016-10-19 01:13:50
1281289     61               2016-10-19 01:13:06                 NaT

timedesc_id                         Depart Scene               Clear  \
incident_id responderunit_id
1281280     114                              NaT 2016-10-19 00:11:41
            243              2016-10-19 00:23:09 2016-10-19 00:57:09
1281278     61                               NaT 2016-10-19 00:08:46
            234              2016-10-19 00:21:58 2016-10-19 01:00:11
1281281     37                               NaT 2016-10-19 00:21:36
            219              2016-10-19 00:27:22 2016-10-19 01:10:31
1281282     223              2016-10-19 01:01:55 2016-10-19 01:36:41
            428                              NaT 2016-10-19 00:34:17
1281283     1597                             NaT 2016-10-19 00:43:07
1281286     33                               NaT 2016-10-19 00:55:49
1281284     123                              NaT 2016-10-19 00:51:20
            224              2016-10-19 00:57:46 2016-10-19 01:34:20
1281285     30                               NaT 2016-10-19 00:50:12
            117                              NaT 2016-10-19 01:27:53
1281290     478                              NaT 2016-10-19 01:23:43
1281287     234                              NaT 2016-10-19 01:15:34
            60                               NaT 2016-10-19 01:09:47
1281288     59                               NaT 2016-10-19 01:16:35
            240              2016-10-19 01:33:40 2016-10-19 02:17:18
1281289     61                               NaT 2016-10-19 01:18:53

timedesc_id                   Response_Time  OnScene_Time
incident_id responderunit_id
1281280     114                    00:05:39      00:05:19
            243                    00:04:10      00:52:16
1281278     61                          NaT           NaT
            234                    00:03:22      00:53:27
1281281     37                          NaT           NaT
            219                    00:02:41      00:49:48
1281282     223                    00:05:51      01:04:20
            428                    00:07:07      00:00:40
1281283     1597                   00:09:12      00:03:58
1281286     33                     00:07:26      00:05:13
1281284     123                         NaT           NaT
            224                    00:04:51      00:43:16
1281285     30                          NaT           NaT
            117                    00:06:00      00:35:08
1281290     478                    00:07:32      00:27:35
1281287     234                    00:03:49      00:10:33
            60                          NaT           NaT
1281288     59                     00:06:54      00:02:07
            240                    00:06:16      01:03:28
1281289     61                          NaT           NaT

In [85]:
Mean_response_time_other = table3['Response_Time'].mean()
Mean_response_time_other

Timedelta('0 days 00:05:50.139534')

In [89]:
Median_response_time_other = table3['Response_Time'].median()
Median_response_time_other

Timedelta('0 days 00:05:19')

In [90]:
Mean_onscene_time_other = table3['OnScene_Time'].mean()
Mean_onscene_time_other

Timedelta('0 days 00:26:25.393719')

In [91]:
Median_onscene_time_other = table3['OnScene_Time'].median()
Median_onscene_time_other

Timedelta('0 days 00:12:31')